**.pyc
.DS_Store
**/.DS_Store
__pycache__/
/dataset
/timeSeries/data
/backend/calculate_data/test_upload.csv
/backend/nilm/data_h5
/backend/nilm/model/
/backend/nilm/fetch_data/house_1
/backend/nilm/pred_csv/
/backend/config.py
/frontend/node_modules/
1-9 NILM poster.pdf
1-9 NILM.pdf
demo_v2.mov