.create-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #d5f8f4;
}
.create-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  max-width: 1440px;
  max-height: 1000px;
  align-items: center;
}
.create-container2 {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.create-profile {
  top: 35vh;
  left: 32%;
  width: 28vh;
  position: absolute;
  object-fit: cover;
}
.create-container3 {
  left: 0px;
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.create-input {
  top: 30vh;
  left: 20%;
  color: #49688d;
  width: 36vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.52);
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.create-input1 {
  top: 40vh;
  left: 20%;
  color: #49688d;
  width: 36vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.52);
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.create-textinput {
  top: 50vh;
  left: 20%;
  color: #49688d;
  width: 36vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.52);
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.create-textinput1 {
  top: 60vh;
  left: 20%;
  color: #49688d;
  width: 36vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.52);
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.create-image {
  top: 31vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.create-image1 {
  top: 51vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.create-image2 {
  top: 41.5vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.create-image3 {
  top: 61vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.create-button {
  top: 70vh;
  left: 20%;
  color: rgb(73, 104, 141);
  width: 20vh;
  height: 5vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.51);
  text-align: center;
  margin-left: 8vh;
  padding-top: 1vh;
  border-width: 0px;
  margin-right: 8vh;
  border-radius: 20px;
  text-decoration: none;
}
.create-button:hover {
  box-shadow: 5px 5px 10px 0px #6ce5e8;
}
.create-button:active {
  box-shadow: 5px 5px 10px 0px #00cadc;
}
.create-navbar-interactive {
  top: 0;
  left: auto;
  width: 100%;
  height: 9.3vh;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 3vh;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.create-navlink {
  left: 4vw;
  color: #49688d;
  z-index: 99;
  position: absolute;
  font-size: 2.2vh;
  border-width: 0px;
  text-decoration: none;
}
.create-image4 {
  left: auto;
  width: 20vh;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1000px) {
  .create-container1 {
    display: contents;
  }
  .create-container2 {
    display: contents;
  }
  .create-profile {
    top: 18vh;
    left: auto;
    width: 18vh;
    position: absolute;
  }
  .create-container3 {
    display: contents;
  }
  .create-input {
    top: 40vh;
    left: auto;
  }
  .create-input1 {
    top: 50vh;
    left: auto;
  }
  .create-textinput {
    top: 60vh;
    left: auto;
    position: absolute;
  }
  .create-textinput1 {
    top: 70vh;
    left: auto;
    position: absolute;
  }
  .create-image {
    width: 0;
  }
  .create-image1 {
    width: 0;
  }
  .create-image2 {
    width: 0;
  }
  .create-image3 {
    width: 0;
  }
  .create-button {
    top: 80vh;
    left: auto;
    position: absolute;
  }
  .create-text1 {
    top: 675;
    left: auto;
  }
}
@media(max-width: 767px) {
  .create-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .create-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 475px) {
  .create-image4 {
    width: 0;
  }
}
