.dianfei-container {
  width: 100%;
  display: flex;
  overflow: auto;
  font-size: 22;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #d5f8f4;
}
.dianfei-navbar-interactive {
  top: 0;
  left: auto;
  width: 100%;
  height: 9.3vh;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 3vh;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.dianfei-image {
  left: auto;
  width: 20vh;
  position: absolute;
  object-fit: cover;
}
.dianfei-navlink {
  z-index: 100;
  margin-left: 82vw;
  border-width: 0px;
}
.dianfei-image1 {
  left: 0;
  width: 10vh;
  object-fit: cover;
}
.dianfei-navlink1 {
  left: 4vw;
  z-index: 100;
  position: absolute;
  border-width: 0px;
}
.dianfei-image2 {
  width: 10vh;
  object-fit: cover;
}
.dianfei-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  max-width: 1440px;
  max-height: 1000px;
  align-items: center;
  justify-content: center;
}
.dianfei-container2 {
  flex: 0 0 auto;
  left: 50%;
  width: 50%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.dianfei-image3 {
  top: 38vh;
  left: 10%;
  width: 50vh;
  position: absolute;
  object-fit: cover;
}
.dianfei-image3:focus {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image3:active {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image3:focus-within {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image3:focus-visible {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image4 {
  top: 62vh;
  left: 10%;
  width: 50vh;
  position: absolute;
  object-fit: cover;
}
.dianfei-image4:focus {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image4:active {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image4:focus-within {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image4:focus-visible {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image5 {
  top: 50vh;
  left: 10%;
  width: 50vh;
  position: absolute;
  object-fit: cover;
}
.dianfei-image5:focus {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image5:active {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image5:focus-within {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-image5:focus-visible {
  box-shadow: 5px 5px 10px 0px #c1ff72;
}
.dianfei-text {
  top: 41vh;
  left: 10%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 2.2vh;
  margin-left: 7vh;
}
.dianfei-text01 {
  top: 52vh;
  left: 10%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  margin-left: 6vh;
}
.dianfei-text05 {
  top: 64vh;
  left: 10%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  margin-left: 5vh;
}
.dianfei-text09 {
  top: 40vh;
  left: 10%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin-left: 35vh;
  letter-spacing: 1vh;
}
.dianfei-text10 {
  top: 52vh;
  left: 10%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin-left: 35vh;
  margin-right: 1.5vh;
  letter-spacing: 1vh;
}
.dianfei-text13 {
  top: 64vh;
  left: 10%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin-left: 35vh;
  margin-right: 1.5vh;
  letter-spacing: 1vh;
}
.dianfei-text14 {
  top: 30vh;
  left: 10%;
  color: rgb(73, 104, 141);
  position: absolute;
  font-size: 2.6vh;
  margin-left: 1vh;
}
.dianfei-button {
  color: transparent;
  border-width: 0px;
  background-color: transparent;
}
.dianfei-image6 {
  top: 73vh;
  left: 10%;
  width: 12vh;
  z-index: 100;
  position: absolute;
  object-fit: cover;
  margin-left: 38vh;
}
.dianfei-container3 {
  flex: 0 0 auto;
  right: 45%;
  width: 50%;
  height: 100vh;
  display: flex;
  z-index: 0;
  position: relative;
  align-items: center;
}
.dianfei-image7 {
  top: 38vh;
  right: 30%;
  width: 55vh;
  z-index: 100;
  position: absolute;
  object-fit: cover;
}
.dianfei-select {
  top: 29vh;
  right: 15%;
  width: 25vh;
  height: 5vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: rgba(54, 173, 185, 0.52) 5px 5px 10px 0px;
  padding-left: 2vh;
  border-radius: 12px;
}
.dianfei-text17 {
  top: 30vh;
  color: rgb(73, 104, 141);
  right: 15%;
  position: absolute;
  font-size: 2.4vh;
  margin-right: 28vh;
}
@media(max-width: 1000px) {
  .dianfei-image {
    width: 0;
  }
  .dianfei-container1 {
    display: contents;
  }
  .dianfei-container2 {
    display: contents;
  }
  .dianfei-image3 {
    top: 60vh;
    left: auto;
    width: 45vh;
    position: absolute;
  }
  .dianfei-image4 {
    top: 80vh;
    left: auto;
    width: 45vh;
    position: absolute;
  }
  .dianfei-image5 {
    top: 70vh;
    left: auto;
    width: 45vh;
    position: absolute;
  }
  .dianfei-text {
    top: 63vh;
    left: auto;
    margin: 0;
    font-size: 2vh;
    margin-right: 25vh;
    animation-play-state: 25vh;
  }
  .dianfei-text01 {
    top: 72vh;
    left: auto;
    position: absolute;
    font-size: 1.8vh;
    margin-right: 25vh;
  }
  .dianfei-text05 {
    top: 82vh;
    left: auto;
    position: absolute;
    font-size: 1.8vh;
    margin-right: 25vh;
  }
  .dianfei-text09 {
    top: 62vh;
    left: 50%;
    position: absolute;
    margin-left: 10vh;
  }
  .dianfei-text10 {
    top: 72vh;
    left: 50%;
    position: absolute;
    margin-left: 10vh;
  }
  .dianfei-text13 {
    top: 82vh;
    left: 50%;
    position: absolute;
    margin-left: 10vh;
  }
  .dianfei-text14 {
    top: 56vh;
    left: auto;
    margin-right: 32vh;
  }
  .dianfei-button {
    top: 17%;
    right: auto;
    position: absolute;
    margin-left: 40vh;
  }
  .dianfei-image6 {
    left: auto;
    margin: 0;
    margin-left: -10vh;
  }
  .dianfei-container3 {
    display: contents;
  }
  .dianfei-image7 {
    top: 22.5vh;
    right: auto;
    width: 35vh;
  }
  .dianfei-select {
    top: 11%;
    right: auto;
    margin-left: 20vh;
  }
  .dianfei-text17 {
    top: 12vh;
    right: auto;
    margin-right: 25vh;
  }
}
@media(max-width: 767px) {
  .dianfei-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .dianfei-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
