.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #d5f8f4;
}
.profile-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  max-width: 1440px;
  max-height: 1000px;
  align-items: center;
}
.profile-container2 {
  left: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  z-index: 1;
  position: absolute;
}
.profile-image {
  top: 36vh;
  left: 32%;
  width: 28vh;
  position: absolute;
  object-fit: cover;
}
.profile-container3 {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  z-index: 1;
  position: absolute;
}
.profile-textinput {
  top: 35vh;
  left: 20%;
  color: #49688d;
  width: 55vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.52);
  text-align: center;
  border-width: 0px;
  background-color: transparent;
}
.profile-navlink {
  top: 45vh;
  left: 20%;
  color: rgb(73, 104, 141);
  width: 55vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: rgba(54, 173, 185, 0.52) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  padding-top: 1.5vh;
  text-decoration: none;
  background-color: transparent;
}
.profile-navlink1 {
  top: 65vh;
  left: 20%;
  color: rgb(73, 104, 141);
  width: 55vh;
  height: 6vh;
  z-index: 100;
  padding-top: 1.5vh;
  position: absolute;
  font-size: 2vh;
  box-shadow: rgba(54, 173, 185, 0.52) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.profile-text {
  z-index: 100;
}
.profile-navlink2 {
  top: 55vh;
  left: 20%;
  color: rgb(73, 104, 141);
  width: 55vh;
  height: 6vh;
  z-index: 100;
  padding-top: 1.5vh;
  position: absolute;
  font-size: 2vh;
  box-shadow: rgba(54, 173, 185, 0.52) 5px 5px 10px 0px;
  text-align: center;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
}
.profile-image1 {
  top: 26vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.profile-image2 {
  top: 46vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.profile-image3 {
  top: 56vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.profile-image4 {
  top: 66vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.profile-image5 {
  top: 36.5vh;
  left: 21%;
  width: 5vh;
  position: absolute;
  object-fit: cover;
}
.profile-button {
  top: 75vh;
  left: 30%;
  color: rgb(73, 104, 141);
  width: 20vh;
  height: 5vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.51);
  text-align: center;
  margin-left: 8vh;
  padding-top: 1vh;
  border-width: 0px;
  margin-right: 8vh;
  border-radius: 20px;
}
.profile-button:hover {
  box-shadow: 5px 5px 10px 0px #6ce5e8;
}
.profile-button:active {
  box-shadow: 5px 5px 10px 0px #00cadc;
}
.profile-text09 {
  top: 25vh;
  left: 20%;
  color: rgb(73, 104, 141);
  width: 55vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: rgba(54, 173, 185, 0.52) 5px 5px 10px 0px;
  text-align: center;
  padding-top: 2vh;
}
.profile-navbar-interactive {
  top: 0;
  left: auto;
  width: 100%;
  height: 9.3vh;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 3vh;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.profile-image6 {
  left: auto;
  width: 20vh;
  position: absolute;
  object-fit: cover;
}
.profile-navlink3 {
  z-index: 100;
  margin-left: 82vw;
  border-width: 0px;
}
.profile-image7 {
  left: 0;
  width: 10vh;
  object-fit: cover;
}
.profile-navlink4 {
  left: 4vw;
  z-index: 100;
  position: absolute;
  border-width: 0px;
}
.profile-image8 {
  width: 10vh;
  object-fit: cover;
}
@media(max-width: 1000px) {
  .profile-container1 {
    display: contents;
  }
  .profile-container2 {
    display: contents;
  }
  .profile-image {
    top: 15vh;
    left: auto;
    width: 18vh;
    position: absolute;
  }
  .profile-container3 {
    display: contents;
  }
  .profile-textinput {
    top: 45vh;
    left: auto;
    position: absolute;
  }
  .profile-navlink {
    top: 55vh;
    left: auto;
    position: absolute;
  }
  .profile-navlink1 {
    top: 75vh;
    left: auto;
    position: absolute;
  }
  .profile-navlink2 {
    top: 65vh;
    left: auto;
    position: absolute;
  }
  .profile-image1 {
    width: 0;
  }
  .profile-image2 {
    width: 0;
  }
  .profile-image3 {
    width: 0;
  }
  .profile-image4 {
    width: 0;
  }
  .profile-image5 {
    width: 0;
  }
  .profile-button {
    top: 85vh;
    left: auto;
    position: absolute;
  }
  .profile-text07 {
    top: 675;
    left: auto;
  }
  .profile-text09 {
    top: 35vh;
    left: auto;
  }
  .profile-image6 {
    width: 0;
  }
}
@media(max-width: 767px) {
  .profile-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .profile-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
