.shisuan-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #d5f8f4;
}
.shisuan-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  max-width: 1440px;
  max-height: 1000px;
  align-items: center;
}
.shisuan-container2 {
  left: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.shisuan-textinput {
  top: 35vh;
  color: #49688d;
  right: 35%;
  width: 36vh;
  height: 6vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.52);
  text-align: center;
  padding-top: 1.5vh;
  border-width: 0px;
  border-radius: 20px;
  background-color: 0xffff;
}
.shisuan-text {
  top: 30vh;
  color: rgb(73, 104, 141);
  right: 35%;
  position: absolute;
  font-size: 3vh;
  margin-right: 20vh;
}
.shisuan-text01 {
  top: 43vh;
  color: rgb(73, 104, 141);
  right: 35%;
  z-index: 100;
  position: absolute;
  font-size: 2.5vh;
  margin-right: 20vh;
}
.shisuan-button {
  top: 55vh;
  color: rgb(73, 104, 141);
  right: 35%;
  width: 20vh;
  height: 5vh;
  padding: 1vh;
  z-index: 100;
  position: absolute;
  font-size: 2vh;
  box-shadow: 5px 5px 10px 0px rgba(54, 173, 185, 0.51);
  text-align: center;
  border-width: 0px;
  margin-right: 10vh;
  border-radius: 20px;
}
.shisuan-button:active {
  box-shadow: 5px 5px 10px 0px #00cadc;
}
.shisuan-container3 {
  flex: 0 0 auto;
  right: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.shisuan-text05 {
  top: 30vh;
  left: 15%;
  color: rgb(73, 104, 141);
  z-index: 3;
  position: absolute;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin-left: 30vh;
  letter-spacing: 1vh;
}
.shisuan-image {
  top: 40vh;
  left: 15%;
  width: 55vh;
  position: absolute;
  object-fit: cover;
}
.shisuan-image1 {
  top: 28vh;
  left: 15%;
  width: 40vh;
  position: absolute;
  object-fit: cover;
  margin-left: 16vh;
}
.shisuan-image2 {
  top: 64vh;
  left: 15%;
  width: 55vh;
  position: absolute;
  object-fit: cover;
}
.shisuan-image3 {
  top: 52vh;
  left: 15%;
  width: 55vh;
  position: absolute;
  object-fit: cover;
}
.shisuan-text06 {
  top: 43vh;
  left: 15%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 3vh;
  margin-left: 8vh;
}
.shisuan-text07 {
  top: 54.3vh;
  left: 15%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 2.3vh;
  margin-left: 6vh;
}
.shisuan-text11 {
  top: 66.4vh;
  left: 15%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 2.3vh;
  margin-left: 6vh;
}
.shisuan-text15 {
  top: 43vh;
  left: 15%;
  color: rgb(73, 104, 141);
  z-index: 100;
  position: absolute;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin-left: 38vh;
  letter-spacing: 1vh;
}
.shisuan-text16 {
  top: 55vh;
  left: 15%;
  color: rgb(73, 104, 141);
  z-index: 5;
  position: absolute;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin-left: 38vh;
  letter-spacing: 1vh;
}
.shisuan-text19 {
  top: 67vh;
  left: 15%;
  color: rgb(73, 104, 141);
  z-index: 5;
  position: absolute;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin-left: 38vh;
  letter-spacing: 1vh;
}
.shisuan-text20 {
  top: 30vh;
  left: 15%;
  color: rgb(73, 104, 141);
  position: absolute;
  font-size: 3vh;
}
.shisuan-navbar-interactive {
  top: 0;
  left: auto;
  width: 100%;
  height: 9.3vh;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-bottom: 3vh;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.shisuan-navlink {
  left: 4vw;
  color: #49688d;
  z-index: 99;
  position: absolute;
  font-size: 2.2vh;
  border-width: 0px;
  text-decoration: none;
}
.shisuan-image4 {
  left: auto;
  width: 20vh;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1000px) {
  .shisuan-container1 {
    display: contents;
  }
  .shisuan-container2 {
    display: contents;
  }
  .shisuan-textinput {
    top: 20vh;
    right: auto;
    position: absolute;
  }
  .shisuan-text {
    top: 15vh;
    right: auto;
    position: absolute;
  }
  .shisuan-text01 {
    top: 28vh;
    right: auto;
    position: absolute;
  }
  .shisuan-button {
    top: 33vh;
    right: auto;
    margin: 0;
    position: absolute;
  }
  .shisuan-text03 {
    top: 675;
    left: auto;
  }
  .shisuan-container3 {
    display: contents;
  }
  .shisuan-text05 {
    top: 42vh;
    left: auto;
    margin: 0;
    position: absolute;
    margin-right: 5vh;
  }
  .shisuan-image {
    top: 53vh;
    left: auto;
    position: absolute;
  }
  .shisuan-image1 {
    top: 40vh;
    left: auto;
    margin: 0;
    position: absolute;
  }
  .shisuan-image2 {
    top: 77vh;
    left: auto;
    position: absolute;
  }
  .shisuan-image3 {
    top: 65vh;
    left: auto;
    position: absolute;
  }
  .shisuan-text06 {
    top: 56.5vh;
    left: auto;
    margin: 0;
    margin-right: 30vh;
  }
  .shisuan-text07 {
    top: 67.5vh;
    left: auto;
    margin: 0;
    position: absolute;
    margin-right: 22vh;
  }
  .shisuan-text11 {
    top: 79.5vh;
    left: auto;
    margin: 0;
    position: absolute;
    margin-right: 22vh;
  }
  .shisuan-text15 {
    top: 55vh;
    left: auto;
    position: absolute;
    margin-left: 35vh;
  }
  .shisuan-text16 {
    top: 67.5vh;
    left: auto;
    position: absolute;
    margin-left: 35vh;
  }
  .shisuan-text19 {
    top: 79vh;
    left: auto;
    position: absolute;
    margin-left: 35vh;
  }
  .shisuan-text20 {
    opacity: 0;
  }
}
@media(max-width: 767px) {
  .shisuan-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .shisuan-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
}
@media(max-width: 475px) {
  .shisuan-text05 {
    top: 41.5%;
  }
  .shisuan-image {
    width: 43vh;
  }
  .shisuan-image1 {
    width: 30vh;
  }
  .shisuan-image2 {
    width: 43vh;
  }
  .shisuan-image3 {
    width: 43vh;
  }
  .shisuan-text06 {
    top: 55.5vh;
    margin: 0;
    font-size: 2vh;
    margin-right: 20vh;
  }
  .shisuan-text07 {
    top: 67.2vh;
    font-size: 1.8vh;
    margin-right: 18vh;
  }
  .shisuan-text11 {
    top: 79.2vh;
    font-size: 1.8vh;
    margin-right: 18vh;
  }
  .shisuan-text15 {
    margin-left: 27vh;
  }
  .shisuan-text16 {
    margin-left: 27vh;
  }
  .shisuan-text19 {
    margin-left: 27vh;
  }
  .shisuan-image4 {
    width: 0;
  }
}
